<div class="row">
  <div class="col-xs-12">
    <p>Ticket Preview</p>

    <div style="width:100%; text-align:left;" >
      <iframe ng-src="{{ticketPreviewResource}}" frameborder="0" height="256" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" name="foo"></iframe>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="width:100%; text-align:left;">
      Event Page Preview
      <iframe ng-src="{{eventpagePreviewResource}}" frameborder="0" height="1000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="width:195px; text-align:center;">
      <iframe ng-src="{{eventCalendarResource}}" frameborder="0" height="382" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
